* {
    font-family: Helvetica, sans-serif;
}

body{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #eaeaea;
    transition: all 0.5s ease;
}

header{
    border-top-right-radius: 5rem;
    border-top-left-radius: 5rem;
    border-bottom-right-radius: .8rem;
    border-bottom-left-radius: .8rem;
    background-color: #E0A874;
    color: #7d4919;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    margin-top: 2%;
    box-shadow: inset 0 0 10px #7d4919;
    transition: all 0.5s ease;
}

ul {
    font-size: 1rem;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 1%;
    border-radius: 6px;
    background-color: #74A753;
    display: flex;
    justify-content: center;
    list-style-type: none;
    box-shadow: inset 0 0 10px #376917;
}

div:target{
    animation-name: enlarge;
    animation-duration: .7s;
}

div h1{
    text-align: center;
    margin: auto;
    padding-bottom: 2%;
    font-size: 3rem;
    transition: all 0.5s ease;
}

div h2{
    font-family: Snell Roundhand, Brush Script MT, cursive;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 0%;
    padding-bottom: 5%;
    font-size: 2.4rem;
    transition: all 0.5s ease;
}

article{
    margin-left: -20%;
    margin-right: -20%;
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
    color: white;
    transition: all 0.5s ease;
}

text {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    width: 100%;
}

article p{
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    margin-left: 5%;
    transition: all 0.5s ease;
}

article img{
    border-radius: 8px;
    width: 25%;
    height: 25%;
    transition: all 0.5s ease;
}

li{
    padding: 1%;
    margin: auto;
}

a {
    padding: 1rem;
    background-color: #9FC983;
    border-radius: 6px;
    text-decoration-line: none;
    color: #376917;
    box-shadow: inset 0 0 5px #376917;
    transition: all 0.5s ease;
}


a:hover {
    font-size: 1.7rem;
    box-shadow: inset 0 0 5px #376917, 0px 3px 5px #376917;
}

/* bio page */

#bio{
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 12rem;
    background-color: #A93016;
    box-shadow: inset 0 0 10px #5C1000;
}

#bio panel{
    opacity: 0;
    display: none;
}

#bio:target panel{
    display: block;
    animation-name: quick-fade;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
}

#bio:target article{
    animation-delay: 0.3s;
    animation-name: panel-load;
    animation-fill-mode: forwards;
    animation-duration: .7s;
}

#bio:target h1{
    animation-delay: 0.3s;
    animation-name: quick-fade;
    animation-fill-mode: forwards;
    animation-duration: .7s;
}

#bio:target h2{
    animation-delay: 0.3s;
    animation-name: fade-in;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

#bio h1{
    opacity: 0;
    color: #4e0d00;
}

#bio h2{
    opacity: 0;
}

#bio article{
    opacity: 0;
    background-image: linear-gradient(to right, #E5725A, #F58A73);
    border-radius: 8px;
    box-shadow: 0px 3px 5px #3d0b01;
}

#bio article p{
    color: #3d0b01;
}

/* experience page*/

#experience{
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #D9AB2B;
    border-radius: 2px;
    box-shadow: inset 0 0 10px #8A6500;
}

#experience panel{
    opacity: 0;
    display: none;
}

#experience:target panel{
    display: block;
    animation-name: quick-fade;
    animation-fill-mode: forwards;
    animation-duration: .7s;
}

#experience:target article{
    animation-delay: 0.3s;
    animation-name: panel-load;
    animation-fill-mode: forwards;
    animation-duration: .7s;
}

#experience:target h1{
    animation-delay: 0.3s;
    animation-name: quick-fade;
    animation-fill-mode: forwards;
    animation-duration: .7s;
}

#experience:target h2{
    animation-delay: 0.3s;
    animation-name: fade-in;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

#experience h1{
    opacity: 0;
    color: #715301;
}

#experience h2{
    opacity: 0;
}

#experience article{
    opacity: 0;
    background-image: linear-gradient(to left, #FFDE81, #F5D273);
    border-radius: 8px;
    box-shadow: 0px 3px 5px #5d4501;
}

#experience article p{
    color: #5d4501;
}

/* portfolio page*/

#portfolio{
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 1.2rem;
    background-color: #3D2B23;
    box-shadow: inset  0 0 10px #271209;
}

#portfolio panel{
    opacity: 0;
    display: none;
}

#portfolio:target panel{
    display: block;
    animation-name: quick-fade;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
}

#portfolio:target article{
    animation-delay: 0.3s;
    animation-name: panel-load;
    animation-fill-mode: forwards;
    animation-duration: .7s;
}

#portfolio:target h1{
    animation-delay: 0.3s;
    animation-name: quick-fade;
    animation-fill-mode: forwards;
    animation-duration: .7s;
}

#portfolio:target h2{
    animation-delay: 0.3s;
    animation-name: fade-in;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

#portfolio article{
    opacity: 0;
    background-color: #947B6F;
    background-image: linear-gradient(to left, #947B6F, #8B6D5F);
    border-radius: 8px;
    box-shadow: 0px 3px 5px #1f0e07;
}

#portfolio h1{
    opacity: 0;
    color: #947B6F;
}

#portfolio h2{
    opacity: 0;
}

#portfolio article p{
    color: #1f0e07;
}

#bottom{
    margin-top: 1%;
    margin-bottom: 2%;
    background-color: #E0A874;
    border-radius: .8rem;
    box-shadow: inset 0 0 10px #7d4919;
}

.section{
    display: flex;
    flex-direction: column;
    padding: 5%;
    height: 100%;
    transition: all 0.5s ease;
}

footer{
    text-align: center;
}

/* animations */

@keyframes panel-load{
    0% {scale: 0;
        opacity: 0;}
    100% {scale: 1;
          opacity: 1;}
}

@keyframes fade-in{
    0% {opacity: 0;
        scale: 1.3;}
    100% {opacity: 1;
          scale: 1;}
}

@keyframes quick-fade{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes enlarge{
    0%{ transform-origin: top;
        transform: scaleY(0);}
    100%{transform: scaleY(1);}
}

/* media queries */

@media screen and (max-width:1300px){
    body{
        margin-top: 11%;
        margin-left: 17.5%;
        margin-right: 17.5%;
    }
    article p{
        font-size: 0.95rem;
    }
    article img{
        margin: auto;
        width: 35%;
        height: 35%;
    }

}

@media screen and (max-width:1000px){

    body{
        margin-top: 20%;
        margin-left: 15%;
        margin-right: 15%;
    }
    
    article p{
        font-size: 0.9rem;
        height: 50%;
    }

    article img{
        margin: auto;
        width: 50%;
        height: 50%;
    }

    header{
        font-size: 1.1rem;
    }

    div h1{
        text-align: center;
        margin: auto;
        padding-bottom: 5%;
        font-size: 2.2rem;
    }
    
    div h2{
        font-size: 1.8rem;
    }

    a {
        padding: 0.9rem;
        font-size: 0.8rem;
    }
    a:hover {
        font-size: 1rem;
    }
}

@media screen and (max-width:725px){

    body{
        margin-top: 30%;
        margin-left: 10%;
        margin-right: 10%;

    }
    article{
        margin-left: 0%;
        margin-right: 0%;
        flex-direction: column;
        justify-content: space-evenly;
    }
    article p{
        font-size: 0.8rem;
        padding-top: 5%;
        margin: auto;
    }

    article img{
        margin: auto;
        width: 75%;
        height: 75%;
    }

    header{
        font-size: .9rem;
    }

    div h1{
        text-align: center;
        margin: auto;
        padding-bottom: 5%;
        font-size: 1.8rem;
    }

    div h2{
        font-size: 1.4rem;
    }

    a {
        padding: 0.7rem;
        border-radius: 4px;
        font-size: 0.68rem;
    }
}

@media screen and (max-width:500px){
    article p{
        font-size: 0.7rem;
    }

    header{
        font-size: .8rem;
    }

    div h1{
        text-align: center;
        margin: auto;
        padding-bottom: 5%;
        font-size: 1.6rem;
    }

    div h2{
        font-size: 1.3rem;
    }

    a {
        padding: 0.4rem;
        border-radius: 4px;
        font-size: 0.6rem;
    }
    a:hover {
        font-size: 0.8rem;
    }

}